@import "tailwindcss";

:root {
  --background: #050505;
}

body {
  background-color: var(--background);
  color: white;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar for that extra premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

/* Ping-Pong Marquee Animation (Faster & Seamless) */
@keyframes pingpong {
  0%,
  12% {
    transform: translateX(0);
  }

  42%,
  58% {
    transform: translateX(-50%);
  }

  88%,
  100% {
    transform: translateX(0);
  }
}

.animate-pingpong {
  animation: pingpong 30s linear infinite;
  will-change: transform;
}

/* Hide Scrollbar but keep functionality */
.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
